

.main {
    margin-top:90px;

}

h4 {
	padding-top: 25px;
}


.search {
	padding-right:20px;
}

h3 {
    padding-top: 50px;

}

.carousel-inner img {
    height: 400px;
}

footer {
    margin-top: 50px;
    height: 60px;
}
